@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-bg-base: #050505;
  --color-bg-surface: #101010;
  --color-bg-panel: #0B0B0B;
  
  --color-text-main: #FFFFFF;
  --color-text-muted: rgba(255, 255, 255, 0.55);
  
  --color-accent-cyan: #5EF2FF;
  --color-accent-violet: #8A6DFF;
}

:root {
  --background: #050505;
  --foreground: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Lenis recommended css */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
}
